.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/*Card */
.card {
  border: 1px solid #00adef;
  min-width: 300px;
}
.card:hover .btn-dark {
  background-color: #ffc20e;
  color: #000;
}

.product-price {
  color: #00aff2;
  font-size: 23px;
  padding-left: 3px;
}

/*Cartitems div*/
.floatcart-wrapper .floatcart {
  width: 325px;
}

.floatcart {
    background-color: #000;
    color: #fff;
    position: fixed;
    top: 0px;
    right: 0px;
    font-size: 17px;
}

.cartLength span {
  background-color: #ffc20e;
  color: #454545;
}
.cartIcon {
  font-size: 25px;
  margin-right: 10px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
